# Data Preprocessing

In [5]:
import string
import pandas as pd

import src.features.build_features as buif
from src.utils import utils, config

In [1]:
%load_ext autoreload
%autoreload 2

In [7]:
PATH = '../data/raw'
football = utils.load_merge_data(path=PATH, keep='E0', usecols=config.TRAIN_COLUMNS, seasons=6) # Last 6 seasons

In [8]:
football.tail()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,SeasonLabel
1895,E0,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,...,4,10,8,14,1,2,2,0,0,2020_2021
1896,E0,23/05/2021,Man City,Everton,5,0,H,2,0,H,...,3,8,10,7,5,2,2,0,0,2020_2021
1897,E0,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,...,3,11,1,8,9,3,1,0,0,2020_2021
1898,E0,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,...,5,5,9,2,3,0,3,0,0,2020_2021
1899,E0,23/05/2021,Wolves,Man United,1,2,A,1,2,A,...,4,14,3,6,2,4,1,0,0,2020_2021

In [9]:
football.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,SeasonLabel
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,9,10,14,7,4,3,2,0,0,2016_2017
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,3,12,15,3,6,2,2,0,0,2016_2017
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,4,10,14,5,6,0,0,0,0,2016_2017
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,5,8,17,5,3,2,2,0,0,2016_2017
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,3,11,14,9,6,1,2,0,0,2016_2017

In [10]:
football.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Div          1900 non-null   object
 1   Date         1900 non-null   object
 2   HomeTeam     1900 non-null   object
 3   AwayTeam     1900 non-null   object
 4   FTHG         1900 non-null   object
 5   FTAG         1900 non-null   object
 6   FTR          1900 non-null   object
 7   HTHG         1900 non-null   object
 8   HTAG         1900 non-null   object
 9   HTR          1900 non-null   object
 10  Referee      1900 non-null   object
 11  HS           1900 non-null   object
 12  AS           1900 non-null   object
 13  HST          1900 non-null   object
 14  AST          1900 non-null   object
 15  HF           1900 non-null   object
 16  AF           1900 non-null   object
 17  HC           1900 non-null   object
 18  AC           1900 non-null   object
 19  HY           1900 non-null   object
 20  AY           1900 non-null   object
 21  HR           1900 non-null   object
 22  AR           1900 non-null   object
 23  SeasonLabel  1900 non-null   object
dtypes: object(24)
memory usage: 356.4+ KB

In [11]:
preprocessor = buif.Preprocessor() # preprocessor transformer
processed_data = preprocessor.fit_transform(football)
processed_data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,SeasonLabel
0,E0,2016-08-13,Burnley,Swansea,0,1,A,0,0,D,...,9,10,14,7,4,3,2,0,0,2016_2017
1,E0,2016-08-13,Crystal Palace,West Brom,0,1,A,0,0,D,...,3,12,15,3,6,2,2,0,0,2016_2017
2,E0,2016-08-13,Everton,Tottenham,1,1,D,1,0,H,...,4,10,14,5,6,0,0,0,0,2016_2017
3,E0,2016-08-13,Hull,Leicester,2,1,H,1,0,H,...,5,8,17,5,3,2,2,0,0,2016_2017
4,E0,2016-08-13,Man City,Sunderland,2,1,H,1,0,H,...,3,11,14,9,6,1,2,0,0,2016_2017

In [12]:
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Div          1900 non-null   object
 1   Date         1900 non-null   datetime64[ns]
 2   HomeTeam     1900 non-null   object
 3   AwayTeam     1900 non-null   object
 4   FTHG         1900 non-null   int64
 5   FTAG         1900 non-null   int64
 6   FTR          1900 non-null   object
 7   HTHG         1900 non-null   int64
 8   HTAG         1900 non-null   int64
 9   HTR          1900 non-null   object
 10  Referee      1900 non-null   object
 11  HS           1900 non-null   int64
 12  AS           1900 non-null   int64
 13  HST          1900 non-null   int64
 14  AST          1900 non-null   int64
 15  HF           1900 non-null   int64
 16  AF           1900 non-null   int64
 17  HC           1900 non-null   int64
 18  AC           1900 non-null   int64
 19  HY           1900 non-null   int64
 20  AY           1900 non-null   int64
 21  HR           1900 non-null   int64
 22  AR           1900 non-null   int64
 23  SeasonLabel  1900 non-null   object
dtypes: datetime64[ns](1), int64(16), object(7)
memory usage: 356.4+ KB

In [13]:
# Save processed file to interim
FILE_PATH = '../data/interim/eo_football_interim'
processed_data.to_csv(FILE_PATH, index=None)